@model MyTodoApp.Models.Todo

@{
    ViewData["Title"] = "Create Todo";
}

<h1 class="my-4">Create Todo</h1>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label asp-for="Text" class="form-label"></label>
        <input asp-for="Text" class="form-control" />
        <div class="invalid-feedback">
            @Html.ValidationMessageFor(model => model.Text)
        </div>
    </div>
    <div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // Custom Bootstrap validation
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
}
