@model MyTodoApp.Models.Todo

@{
    ViewData["Title"] = "Todo Deleted";
}

<h1>Todo Deleted.</h1>

<p>The todo item has been successfully deleted.</p>

<a asp-action="Index" class="btn btn-primary">Back to List</a>
